@media (max-width: 376px){
	header, .reklame{
		grid-template-columns: auto;
	}
	.glavniBlok{
		width: fit-content;
		margin-left: 2px;
		margin-right: 2px;
		padding: 0;
	}
	.rek1, .rek2{
		text-align: center !important;
	}
	ul{
		grid-template-columns: auto;
		grid-gap: 20px;
	}
}